<nav class="navbar navbar-expand-lg navbar-dark text-info mb-5  fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="logo.png" alt="lion logo" class="logo" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="my-nav navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="Product" routerLinkActive="linkActive">Home</a>
        </li>
        <li class="nav-item">

          <a class="nav-link" routerLink="side-Menu" routerLinkActive="linkActive">about</a>
        </li>
        <li class="nav-item">

          <a class="nav-link" routerLink="offers" routerLinkActive="linkActive">Offers </a>
        </li>
        <li class="nav-item dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-bg-danger border rounded-3 px-4 btn" href="#" tabindex="-1"
            aria-disabled="true">VIP</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-warning" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
